@model IEnumerable<CitizenshipCertificateandDiplomaManagementSystem.Models.Certificate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReferenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SignerTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QRCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citizen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificateType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuingInstitution)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReferenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SignerTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QRCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citizen.CitizenId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificateType.CertificateTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuingInstitution.InstitutionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CertificateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CertificateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CertificateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
